<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="callSettersOnNulls" value="true"/>
    </settings>
    <typeAliases>
        <typeAlias type="companion.challeculum.domains.user.dtos.User" alias="user"/>
        <typeAlias type="companion.challeculum.domains.user.dtos.UserInfoDto" alias="userInfoDto"/>
        <typeAlias type="companion.challeculum.domains.user.dtos.UserLoginDto" alias="userLoginDto"/>
        <typeAlias type="companion.challeculum.domains.user.dtos.UserRegisterDto" alias="userRegisterDto"/>
        <typeAlias type="companion.challeculum.domains.user.dtos.UserUpdateDto" alias="userUpdateDto"/>

        <typeAlias type="companion.challeculum.domains.mission.dtos.Mission" alias="Mission"/>
        <typeAlias type="companion.challeculum.domains.usermission.UserMissionDTO" alias="UserMissionDTO"/>

        <typeAlias type="companion.challeculum.domains.ground.dtos.Ground" alias="grounddto"/>
        <typeAlias type="companion.challeculum.domains.ground.dtos.CreateGroundDto" alias="creategrounddto"/>
        <typeAlias type="companion.challeculum.domains.ground.dtos.GroundLectureDto" alias="listgrounddto"/>
        <typeAlias type="companion.challeculum.domains.userground.dtos.UserGround" alias="usergrounddto"/>

        <typeAlias type="companion.challeculum.domains.lecture.dtos.Lecture" alias="lecturedto"/>
        <typeAlias type="companion.challeculum.domains.lecture.dtos.Lecture" alias="userlecturedto"/>
    </typeAliases>

</configuration>




