<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
  <settings>
    <setting name="mapUnderscoreToCamelCase" value="true"/>
    <setting name="callSettersOnNulls" value="true"/>
  </settings>
  <typeAliases>
    <typeAlias type="companion.challeculum.domains.user.dtos.User" alias="user"/>
    <typeAlias type="companion.challeculum.domains.user.dtos.UserInfoDto" alias="userInfoDto"/>
    <typeAlias type="companion.challeculum.domains.user.dtos.UserLoginDto" alias="userLoginDto"/>
    <typeAlias type="companion.challeculum.domains.user.dtos.UserRegisterDto" alias="userRegisterDto"/>
    <typeAlias type="companion.challeculum.domains.user.dtos.UserUpdateDto" alias="userUpdateDto"/>

    <typeAlias type="companion.challeculum.domains.user.User" alias="user"/>
    <typeAlias type="companion.challeculum.domains.mission.MissionDTO" alias="MissionDTO"/>
    <typeAlias type="companion.challeculum.domains.usermission.UserMissionDTO" alias="UserMissionDTO"/>
    <!--
    <typeAlias type="companion.challeculum.ground.GroundDTO" alias="grounddto"/>
    -->
    <typeAlias type="companion.challeculum.domains.ground.GroundDTO" alias="grounddto"/>

    <typeAlias type="companion.challeculum.domains.ground.GroundDTO" alias="grounddto"/>
    <typeAlias type="companion.challeculum.domains.userground.UserGroundDTO" alias="usergrounddto"/>
  </typeAliases>

</configuration>




